################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpExercises/consoleAppEmploye/.vs/consoleAppEmploye/v17
/CSharpExercises/Session01/KarthikMS/ConsoleAppEmploye/.vs/ConsoleAppEmploye/v17
/CSharpExercises/Session01/KarthikMS/ConsoleAppPeople/.vs/ConsoleAppPeople
/CSharpExercises/Session01/KarthikMS/ConsoleAppPeople/ConsoleAppPeople/bin/Debug/net6.0
/CSharpExercises/Session01/KarthikMS/ConsoleAppPeople/ConsoleAppPeople/obj
/CSharpExercises/Session01/KarthikMS/ConsoleAppEmploye/.vs/ConsoleAppEmploye/DesignTimeBuild
