################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpExercises/Session01/KarthikBhat/ConsoleAppEmployee/ConsoleAppEmployee/obj
