################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpExercises/Session01/Vinod/ConsoleAppEmployee/obj
/CSharpExercises/Session01/Vinod/ConsoleAppEmployee/bin/Debug/net6.0
